---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <Container>
    <div class="mt-16 grid place-items-center gap-3">
      <h4 class="animate text-2xl font-semibold text-black dark:text-white">
        404: Page not found.
      </h4>
      <p>
        Sorry about the missing page. This is still a new project and sometimes there are build errors. If this issue persists for more than an hour please feel free to let us know at <a href="x.com/smol_ai">@smol_ai</a>.
      </p>
      <span class="animate">
        <BackToPrevious href="/">Go to home page</BackToPrevious>
      </span>
    </div>
  </Container>
</Layout>
