---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
// console.log('Received headings:', JSON.stringify(headings, null, 2));
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
  subheadings: Heading[];
}
function buildToc(headings: Heading[]) {
  console.log('Building TOC with headings:', JSON.stringify(headings, null, 2));
  const toc: Heading[] = [];
  const stack: Heading[] = [];

  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };

    while (stack.length > 0 && stack[stack.length - 1].depth >= heading.depth) {
      stack.pop();
    }

    if (stack.length === 0) {
      toc.push(heading);
    } else {
      const parent = stack[stack.length - 1];
      parent.subheadings.push(heading);
    }

    stack.push(heading);
  });

  console.log('Final TOC structure:', JSON.stringify(toc, null, 2));
  return toc;
}
---

<details
  open
  class="animate group rounded-lg border border-black/15 bg-white/50 dark:border-white/20 dark:bg-black/50 lg:border-0 lg:bg-transparent dark:lg:bg-transparent"
>
  <summary
    class="cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors group-open:bg-black/5 hover:bg-black/5 dark:group-open:bg-white/5 hover:dark:bg-white/5 lg:px-0 lg:py-0 lg:text-sm lg:font-semibold lg:uppercase lg:tracking-wider lg:text-black/60 dark:lg:text-white/60"
    >Table of Contents</summary
  >
  <nav class="lg:mt-4">
    <ul class="space-y-1 py-3 lg:py-0 max-h-[70vh] overflow-y-auto sticky top-24">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</details>
