---
import Layout from '../../layouts/Layout.astro';
import { Content } from '../../content/test/youtube-test.md';
---

<Layout title="YouTube Embed Test">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">YouTube Embed Test</h1>
    
    <div class="prose lg:prose-xl content-body">
      <Content />
    </div>
  </div>
</Layout> 